<section id="github-contributions" class="py-16 bg-gray-100 dark:bg-black p-6">
    <div class="container mx-auto px-4">
      <!-- Judul -->
      <h2 class="text-3xl font-bold text-center mb-8 text-gray-800 dark:text-white" data-aos="fade-up">
        My GitHub Contributions
      </h2>
      <div class="flex justify-center">
        <div class="w-full max-w-5xl">
          <!-- Grafik Kontribusi -->
          <div class="relative overflow-x-auto">
            <!-- Gambar Grafik Kontribusi -->
            <img src="https://ghchart.rshah.org/pransdaniel" alt="GitHub Contributions" class="w-full h-auto">
            <!-- Link ke Profil GitHub -->
            <div class="text-center mt-4 text-gray-600 dark:text-gray-300">
              <p>Contributions fetched from GitHub for 
                <a href="https://github.com/pransdaniel" target="_blank" class="text-blue-500 hover:underline">pransdaniel</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>