<!-- Menu nav on small devices -->
<div
id="nav-menu"
class="fixed right-[0px] top-20 z-[999] w-full max-w-[250px] translate-x-[270px] rounded-lg bg-white py-5 shadow-lg transition ease-in-out dark:bg-mydark lg:static lg:hidden lg:max-w-full lg:translate-x-[-0px] lg:rounded-none lg:bg-transparent lg:shadow-none"
>
<ul class="block lg:flex">
  <li class="group">
    <a
      href="#home"
      class="mx-8 flex py-2 text-base text-mydark group-hover:text-primary dark:text-white"
      >Beranda</a
    >
  </li>
  <li class="group">
    <a
      href="#about"
      class="mx-8 flex py-2 text-base text-mydark group-hover:text-primary dark:text-white"
      >Tentang saya</a
    >
  </li>
  <li class="group">
    <a
      href="#portfolio"
      class="mx-8 flex py-2 text-base text-mydark group-hover:text-primary dark:text-white"
      >Portfolio</a
    >
  </li>
  <li class="group">
    <a
      href="#contact"
      class="mx-8 flex py-2 text-base text-mydark group-hover:text-primary dark:text-white"
      >Kontak</a
    >
  </li>
</ul>
</div>
<!-- Menu nav on small devices end-->
<header
class="absolute left-0 top-0 z-40 flex h-[100px] w-full items-center transition-all ease-linear lg:px-36"
>
<div class="container">
  <div class="relative flex items-center justify-between">
    <div
      class="flex px-3 text-2xl font-bold"
      data-aos="fade-down"
      data-aos-delay="2500"
    >
      <a href="#" class="brand transition dark:text-white"
        >Prans<span class="text-primary"></span></a
      >
    </div>
    <div
      class="flex items-center px-4"
      data-aos="fade-up"
      data-aos-delay="2500"
    >
      <div class="relative flex items-center gap-5">
        <!-- Darkmode -->
        <div
          id="dark-mode-small"
          class="relative ml-8 flex h-7 w-7 cursor-pointer items-center justify-center overflow-hidden rounded-full bg-slate-100 p-2 lg:invisible"
        >
          <input
            type="checkbox"
            id="input-dark-small"
            class="absolute left-1 top-1 z-10 h-5 w-5 cursor-pointer opacity-0"
          />
          <div
            id="dark-icon"
            class="absolute flex translate-y-[14px] flex-col transition ease-linear"
          >
            <span class="light text-lg text-primary">
              <i class="fas fa-sun"></i>
            </span>
            <span class="light text-lg text-primary"
              ><i class="fas fa-moon"></i>
            </span>
          </div>
        </div>
        <!-- End Darkmode -->
        <button
          id="hamburger"
          name="hamburger"
          type="button"
          class="right-4 block lg:hidden"
        >
          <span
            class="hamburger-line origin-top-left transition ease-in-out"
          ></span>
          <span class="hamburger-line transition ease-in-out"></span>
          <span
            class="hamburger-line origin-bottom-left transition ease-in-out"
          ></span>
        </button>
      </div>
      <nav
        id="nav-menu"
        class="absolute right-[0px] top-full z-[999] hidden w-full max-w-[250px] rounded-lg py-5 shadow-lg transition ease-in-out lg:static lg:flex lg:max-w-full lg:translate-x-[-0px] lg:rounded-none lg:bg-transparent lg:shadow-none"
      >
        <ul class="block lg:flex">
          <li class="group">
            <a
              href="#home"
              class="mx-8 flex py-2 text-base text-mydark group-hover:text-primary dark:text-white"
              >Beranda</a
            >
          </li>
          <li class="group">
            <a
              href="#about"
              class="mx-8 flex py-2 text-base text-mydark group-hover:text-primary dark:text-white"
              >Tentang saya</a
            >
          </li>
          <li class="group">
            <a
              href="#portfolio"
              class="mx-8 flex py-2 text-base text-mydark group-hover:text-primary dark:text-white"
              >Portfolio</a
            >
          </li>
          <li class="group">
            <a
              href="#contact"
              class="mx-8 flex py-2 text-base text-mydark group-hover:text-primary dark:text-white"
              >Kontak</a
            >
          </li>
          <li class="flex items-center">
            <!-- Darkmode -->
            <div
              id="dark-mode"
              class="relative ml-8 flex h-7 w-7 cursor-pointer items-center justify-center overflow-hidden rounded-full bg-slate-100 p-2"
            >
              <input
                type="checkbox"
                id="input-dark"
                class="absolute left-1 top-1 z-10 h-5 w-5 cursor-pointer opacity-0"
              />
              <div
                id="dark-icon"
                class="absolute flex translate-y-[14px] flex-col transition ease-linear"
              >
                <span class="light text-lg text-primary">
                  <i class="fas fa-sun"></i>
                </span>
                <span class="light text-lg text-primary"
                  ><i class="fas fa-moon"></i>
                </span>
              </div>
            </div>
            <!-- End Darkmode -->
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</header>